{% extends "base.html.twig" %}
{% block body %}
	<!-- items -->
	{% for post in posts %}
		<div class="col-8 border-bottom p-3 mb-5">
			<p class="h3">{{ post.title }}</p>
			<p>
				<small>Created by
					<em>{{ post.user.nick }}</em>
					|
					{{ post.createdAt | date('Y-m-d @ H:i') }}</small>
			</p>
			{# <img src="{{ post.imagePath }}" class="img-fluid w-50 rounded-top" alt=""> #}
			<img src="{{ post.imagePath }}" class="img-fluid w-50 rounded-top" alt="">
			<p class="lead pt-2">
				{{ post.description }}
			</p>
			{% if app.user %}
				<a href="/posts/{{ post.id }}">
					<button type="button" class="btn btn-dark">Czytaj więcej</button>
				</a>
			{% endif %}
		</div>
	{% endfor %}
	<!-- /items !-->
{% endblock %}
