{% extends "base.html.twig" %}
{% block body %}
	<!-- item -->
	<div class="col-8 border-bottom p-3 mb-5">
		<p class="h3">{{ post.title }}</p>
		<p>
			<small>Created by
				{% if app.user %}
					<em>
						<a href="/profile/{{ post.user.id }}">{{ post.user.nick }}</a>
					</em>
				{% else %}
					<em>{{ post.user.nick }}</em>
				{% endif %}

				|
				{{ post.createdAt | date('Y-m-d @ H:i') }}</small>
		</p>
		<img src="{{ post.imagePath }}" class="img-fluid rounded-top w-50" alt="">
		<p class="lead pt-2">
			{{ post.description }}
		</p>
		{% if isOwner %}
			<a href="/posts/edit/{{ post.id }}">
				<button type="button" class="btn btn-secondary">Edytuj</button>
			</a>
			<a href="/posts/delete/{{ post.id }}">
				<button type="button" class="btn btn-danger">Usuń</button>
			</a>
		{% endif %}

	</div>
	<!-- /item -->
{% endblock %}
